<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义一个映射配置文件的根节点 -->
<!-- namespace 属性用来定义配置命名空间， 主要进行 session 级别的缓存管理 -->
<!-- namespace 默认使用当前操作实体类的全路径 -->
<mapper namespace="com.kiss.account.mapper.AccountMapper">

    <insert id="createAccount" useGeneratedKeys="true" keyProperty="id" parameterType="com.kiss.account.entity.Account">
        insert into accounts(username, email, mobile, password, salt, remark, groupId, status, operatorId, operatorName, operatorIp)
        values(#{username}, #{email}, #{mobile}, #{password}, #{salt}, #{remark}, #{groupId}, #{status}, #{operatorId}, #{operatorName}, #{operatorIp});
    </insert>

    <select id="getAccountById" parameterType="java.lang.Integer" resultType="com.kiss.account.entity.Account">
        select * from accounts where id=#{id};
    </select>

    <select id="getAccountByUsername" parameterType="java.lang.String" resultType="com.kiss.account.entity.Account">
        select * from accounts where username=#{username};
    </select>

    <select id="getAccountByEmail" resultType="com.kiss.account.entity.Account">
        select * from accounts where email=#{email};
    </select>

    <select id="getAccountByMobile" resultType="com.kiss.account.entity.Account">
        select * from accounts where mobile=#{mobile};
    </select>

    <select id="getAccounts" resultType="com.kiss.account.entity.Account">
        select * from accounts;
    </select>

    <insert id="allocateRoleToAcount" useGeneratedKeys="true" keyProperty="id" parameterType="com.kiss.account.entity.AccountRoles">
        insert into accountroles(roleId, accountId, operatorId, operatorName, operatorIp)
        values(#{roleId}, #{accountId}, #{operatorId}, #{operatorName}, #{operatorIp});
    </insert>

    <insert id="allocateRolesToAcount" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        insert into accountroles(roleId, accountId, operatorId, operatorName, operatorIp)
        values
        <foreach collection="list" item="role" index="index" separator=",">
            (#{role.roleId}, #{role.accountId}, #{role.operatorId}, #{role.operatorName}, #{role.operatorIp})
        </foreach>
    </insert>
</mapper>