<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义一个映射配置文件的根节点 -->
<!-- namespace 属性用来定义配置命名空间， 主要进行 session 级别的缓存管理 -->
<!-- namespace 默认使用当前操作实体类的全路径 -->
<mapper namespace="com.kiss.account.mapper.AccountGroupMapper">

    <insert id="createAccountGroup" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.kiss.account.entity.AccountGroup">
        insert into accountGroups(name, parentId, level, seq, remark, operatorId, operatorName, operatorIp)
        values(#{name}, #{parentId}, #{level}, #{seq}, #{remark}, #{operatorId}, #{operatorName}, #{operatorIp});
    </insert>

    <select id="getAccountAccountById" resultType="com.kiss.account.entity.AccountGroup">
        select * from accountGroups where id=#{id};
    </select>

    <select id="getAccountGroups" resultType="com.kiss.account.entity.AccountGroup">
        select * from accountGroups;
    </select>

    <select id="getAccountGroupByName" resultType="com.kiss.account.entity.AccountGroup">
        select * from accountGroups where name=#{name};
    </select>

    <update id="putAccountGroup" parameterType="com.kiss.account.entity.AccountGroup">
        update accountgroups
        set id = #{id}
        <if test="name != null and name != ''">
            ,name = #{name,jdbcType=VARCHAR}
        </if>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>