<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义一个映射配置文件的根节点 -->
<!-- namespace 属性用来定义配置命名空间， 主要进行 session 级别的缓存管理 -->
<!-- namespace 默认使用当前操作实体类的全路径 -->
<mapper namespace="com.kiss.account.mapper.ClientModuleMapper">

    <!--<select id="getClientModules" parameterType="java.lang.String" resultType="com.kiss.account.output.C"-->

    <insert id="createClientModules" parameterType="com.kiss.account.entity.ClientModule">
        insert into clientmodules (clientId,moduleId)
        values
        <foreach collection="list" separator="," item="clientModule">
            (#{clientModule.clientId},#{clientModule.moduleId})
        </foreach>
    </insert>

    <delete id="deleteClientModulesByClientId" parameterType="java.lang.Integer">
        delete from clientmodules where clientId = #{clientId}
    </delete>
    
    <select id="getClientModulesByClientId" parameterType="java.lang.Integer" resultType="com.kiss.account.entity.ClientModule">
        select * from clientmodules where clientId = #{clientId}
    </select>
    
    <select id="getClientModulePermissionsByClientId" parameterType="java.lang.String" resultType="java.lang.String">
        select per.code from clientmodules cli
        left join permissions per
        on cli.moduleId = per.moduleId
        where cli.clientId = #{clientId};
    </select>
</mapper>