<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义一个映射配置文件的根节点 -->
<!-- namespace 属性用来定义配置命名空间， 主要进行 session 级别的缓存管理 -->
<!-- namespace 默认使用当前操作实体类的全路径 -->
<mapper namespace="com.kiss.account.mapper.PermissionMapper">
    <insert id="createPermission" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.kiss.account.entity.Permission">
        insert into permissions(name, moduleId, type, code, dataFields, remark, status, seq, operatorId, operatorName, operatorIp)
        values(#{name}, #{moduleId}, #{type}, #{code}, #{dataFields}, #{remark}, #{status}, #{seq}, #{operatorId}, #{operatorName}, #{operatorIp});
    </insert>

    <select id="getPermissionById" resultType="com.kiss.account.output.PermissionOutput">
        select permission.id, permission.name, permission.moduleId, permission.type,
               permission.code, permission.dataFields, permission.status, permission.seq,
               permission.remark, permission.operatorId, permission.operatorName, permission.operatorIp,
               permission.createdAt, permission.updatedAt, pm.name as moduleName
        from permissions permission left join permissionModules pm
        on permission.moduleId = pm.id
        where permission.id = #{id};
    </select>

    <select id="getPermissionsByModuleId" resultType="com.kiss.account.output.PermissionOutput">
        select permission.id, permission.name, permission.moduleId, permission.type,
               permission.code, permission.dataFields, permission.status, permission.seq,
               permission.remark, permission.operatorId, permission.operatorName, permission.operatorIp,
               permission.createdAt, permission.updatedAt, pm.name as moduleName
        from permissions permission left join permissionModules pm
        on permission.moduleId = pm.id
        where permission.moduleId = #{moduleId};
    </select>

    <select id="getPermissions" resultType="com.kiss.account.output.PermissionOutput">
        select permission.id, permission.name, permission.moduleId, permission.type,
               permission.code, permission.dataFields, permission.status, permission.seq,
               permission.remark, permission.operatorId, permission.operatorName, permission.operatorIp,
               permission.createdAt, permission.updatedAt, pm.name as moduleName
        from permissions permission left join permissionModules pm
        on permission.moduleId = pm.id
        order by permission.createdAt;
    </select>

    <select id="getBindPermissions" resultType="com.kiss.account.output.BindPermissionOutput">
        select permission.id, permission.name, permission.moduleId, permission.type,
               permission.code, permission.dataFields, permission.status, permission.seq,
               permission.remark, pm.name as moduleName, pm.parentId as moduleParentId
        from permissions permission left join permissionModules pm
        on permission.moduleId = pm.id
        where permission.status = #{status}
        order by permission.createdAt;
    </select>

    <select id="getPermissionByNameOrCode" parameterType="com.kiss.account.entity.Permission" resultType="com.kiss.account.entity.Permission">
        select * from permissions where name = #{name} or code = #{code} limit 0,1
    </select>

    <update id="putPermission" parameterType="com.kiss.account.output.PermissionOutput">
        update permissions
        set id = #{id}
        <if test="code != null and code != ''">
            ,code = #{code,jdbcType=VARCHAR}
        </if>
        <if test="name != null and name != ''">
            ,name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="moduleId != null ">
            ,moduleId = #{moduleId,jdbcType=INTEGER}
        </if>
        <if test="type != null ">
            ,type = #{type,jdbcType=INTEGER}
        </if>
        <if test="status != null">
            ,status = #{status,jdbcType=INTEGER}
        </if>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deletePermission" parameterType="java.lang.Integer">
        delete from permissions where id = #{id}
    </delete>

    <select id="getPermissionByModuleId" parameterType="java.lang.Integer" resultType="com.kiss.account.entity.Permission">
        select * from permissions where moduleId=#{id}
    </select>
</mapper>