<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 加载项目配置文件 -->
    <properties resource="application.properties"/>

    <!-- 用于数据源的环境配置，可以配置多个数据源环境，可指定默认数据源环境 -->
    <environments default="development">

        <!-- 数据源环境信息 -->
        <!-- id 属性用于给当前数据源环境定义一个名称，方便我们的项目制定 -->
        <environment id="development">

            <!-- 用于配置事务管理，默认情况下使用的是 JDBC 事务管理 -->
            <transactionManager type="JDBC"/>

            <!-- 数据源信息 -->
            <!-- type 属性制定是否使用连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${spring.datasource.driver-class-name}"/>
                <property name="url" value="${spring.datasource.url}"/>
                <property name="username" value="${spring.datasource.username}"/>
                <property name="password" value="${spring.datasource.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 引入外部映射配置文件 -->
    <mappers>
        <mapper resource="mapper/AccountGroupMapper.xml"/>
        <mapper resource="mapper/AccountMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/PermissionMapper.xml"/>
        <mapper resource="mapper/PermissionModuleMapper.xml"/>
        <mapper resource="mapper/LogMapper.xml"/>
        <mapper resource="mapper/DbEnumsMapper.xml"/>
        <mapper resource="mapper/ClientMapper.xml"/>
        <mapper resource="mapper/ClientModuleMapper.xml"/>
    </mappers>
</configuration>